.loading-list{
    width: 100%;
    text-align: center;
    background-color: white;
    margin-top: .1rem;
}
.loading-list img{
    width: 0.25rem;
    height: 0.25rem;
    margin-right: 0.15rem;
}
.songslist-con{
    background-color: whitesmoke;
    width: 100%;
}
.songslist-con-ul{
    width: 100%;
}
.songslist-con-ul li{
    padding: .1rem 1%;
    width: 98%;
    position: relative;
    border-bottom: 0.01rem solid #eee;
}
.songslist-con-box{
    margin-left: 10%;
    width: 90%;
}
.songslist-con-box span{
    display: block;
    margin-bottom: 0.05rem;
    width: 94%; 
}
.songslist-title{
    font-size: .15rem;
}
.songslist-num,.songslist-more{
    position: absolute;
}
.songslist-num{
    font-size: .2rem;
    height: 100%;
    line-height: 0.67rem;
    text-align: center;
    width: 10%;
    top: 0;
    left: 0;
    color: #666;
}
.songslist-more{
    top: 50%;
    margin-top: -0.13rem;
    right: 2%;
}
.songslist-more img{
    width: .25rem;
    height: .25rem;
}