.go-back{
    width: 100%;
    font-size: 1.7rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
}
.go-back img{
    width: 2.6rem;
    height: 2.6rem;
}
.go-back-left{
    display: inline-block;
    margin-left: 1rem;
}
.go-back-title{
    height: 4rem;
    line-height: 4rem;
    display: inline-block;
}
.go-back-right{
    position: absolute;
    right: 0;
    top: 0.5rem;
}
.go-back-right img{
    margin-right: 1.5rem;
}
/* select more */
.select-more{
    font-size: 1.5rem;
    color: black;
    position: absolute;
    background-color: white;
    top: 0.2rem;
    right: 0;
    width: 45%;
    z-index: 100;
}
.select-more ul{
    width: 100%;   
}
.select-more ul li{
    width: 100%;
    border-bottom: 0.1rem #eee solid;
    padding: 0.4rem 0;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
}