/* 搜索列表 */

.all-search-data{
    width: 100%;
    background-color: #FAFAFA;
    margin-top: 1rem;
}
.all-search-dataul{
    width: 100%;
}
.all-search-dataul li{
    width: 100%;
    font-size: 1.4rem;
    border-bottom: 0.05rem solid #eee;
    padding: 0.5rem 0;
    position: relative;
}
.all-search-dataul li span{
    display: block;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}
.search-singer{
    color: #2786AD;
    font-size: 1.6rem;
}
.all-search-img{
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    top: 50%;
    margin-top: -1.3rem;
    right: 1rem;
}