.songs{
    margin-top: 9rem;
    background-color: #EFEFEF;
  }
  /*  歌单列表*/
  .songs-list{
      padding-bottom: 5rem;
      padding-top: 1.5rem;
  }
  .songs-list-header{
      width: 100%;
      margin: 1rem 0;
      position: relative;
      font-size: 1.3rem;
  }
  .songs-list-select{
      margin-left: 1rem;
      border: 0.1rem solid #DCDCDC;
      padding: 0.4rem 0.9rem;
      border-radius: 1rem;
  }
  .songs-list-select img{
      width: 1.5rem;
      height: 1.5rem;
      margin-top: -0.5rem;
      vertical-align: middle;
  }
  .songs-list-tag{
      overflow: hidden;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 2rem;
      line-height: 2rem;
  }
  .songs-list-tag li{
      float: left;
      margin-right: 1rem;
  }
  /* 歌单 */
  .songs-list-container{
      width: 98%;
      overflow: hidden;
      margin: 1.2rem 0 1rem 0;
      padding-left: 2%;
      font-size: 1.2rem;
  }
  .songs-list-left{
      width: 48%;
      float: left;
      margin: 0 2% 0 0;
      height: 22rem;
  }
  .songs-list-img{
      position: relative;
  }
  .songs-list-left img{
      width: 100%;
      height: auto;
      margin-bottom: 0.5rem;
  }
  .songs-list-hear,.songs-list-owner{
      position: absolute;
      color: white;
  }
  .songs-list-hear{
      top: 0;
      right: 0.4rem;
  }
  .songs-list-owner{
      bottom: 0.5rem;
      left: 0.4rem;
  }
  .songs-list-hear img,.songs-list-owner img{
      width: 2rem;
      height: auto;
      margin-right: 0.3rem;
  }