.songs{
    margin-top: 9rem;
    background-color: #EFEFEF;
  }
  /*  歌单列表*/
  .songs-list{
      padding-bottom: 5rem;
  }
  /* 歌单 */
  .songs-list-container{
      width: 98%;
      overflow: hidden;
      margin: 1.2rem 0 1rem 0;
      padding-left: 2%;
      font-size: 1.2rem;
  }
  .songs-list-left{
      width: 48%;
      float: left;
      margin: 0 2% 1rem 0;
  }
  .songs-list-img{
      position: relative;
  }
  .songs-list-left img{
      width: 100%;
      height: auto;
      margin-bottom: 0.5rem;
  }
  .songs-list-hear,.songs-list-owner{
      position: absolute;
      color: white;
  }
  .songs-list-hear{
      top: 0;
      right: 0.4rem;
  }
  .songs-list-owner{
      bottom: 0.5rem;
      left: 0.4rem;
  }
  .songs-list-hear img,.songs-list-owner img{
      width: 2rem;
      height: auto;
      margin-right: 0.3rem;
  }
  .over{
      padding: 1rem 0 2rem 0;
      color: #d23023;
      text-align: center;
      font-size: 1.6rem;
  }