html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
/* input placeholder color */
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}
