/* 遮罩 */
.mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 210;
}
.show-list{
    width: 98%;
    height: 60%;
    padding: 10% 1% 0 1%;
    position: relative;
    top: 40%;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 211; 
    color: black;
}
/* 右侧显示更多 */
.list-top{
    width: 98%;
    padding: 1% 1%;
    height: 8%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}
.list-top-title{
    width: 100%;
    height: 100%;
}
.list-top-title span{
    display: block;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.select{
    position: absolute;
    top: 0.5rem;
    right: 5rem;
    font-size: 1.3rem;
}
.remove{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}
.remove img,.select img{
    width: 2rem;
    height: 2rem;
}
.songs-name{
    font-size: 1.3rem;
}
.list-bottom{
    width: 100%;
    height: 90%;
    font-size: 1.4rem;
    overflow: auto;
}
.list-bottom-ul{
    width: 100%;
}
.list-bottom-ul li{
    width: 98%;
    padding: 1rem 1%;
    border-bottom: 0.1rem solid #eee;
    position: relative;
    height: 2rem;
    line-height: 2rem;
}
.list-bottom-text{
    width: 90%;
    overflow: hidden;
    height: 2rem;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.list-bottom-ul li img{
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.list-bottom-singer{
    font-size: 1.2rem;
}