#header{
    width: 100%;
    font-size: 1.4rem;
}
.header-top{
    width: 100%;
    position: relative;
    padding: 1rem 0;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: aliceblue;
    background-color: #d23023;
    font-size: 1.9rem;
}
.more,.search{
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 1rem;
}
.more{
    left: 0;    
}
.search{
    right: 0;
} 
.more img,.search img{
    width: 3rem;
    height: 3rem;
}


/* 导航 */
.header-bottom{
    width: 100%;
}
.header-nav{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    overflow: hidden;
}
.header-nav li{
    float: left;
    text-align: center;
    width: 25%;
}
.router-link-active{
    color: red;
}