.search{
    background-color: #EFEFEF;
    font-size: 1.5rem;
    margin-bottom: 5rem;
    width: 100%;
}
/* 热门搜索 */
.hot-search{
    width: 100%;
    margin-top: 5rem;
}
.hot-search-title,.history-title{
    width: 98%;
    font-size: 1.3rem;
    color: rgb(133, 132, 132);
    padding: 1rem 1% 0 1%;
}
.hot-search-tip{
    width: 98%;
    padding: 0 1%;
    overflow: hidden;
    font-size: 1.4rem;
}
.hot-tip{
    padding: 0.5rem;
    border: 0.05rem solid rgb(119, 114, 114);
    border-radius: 1.5rem;
    float: left;
    margin: 1rem 1.5rem 0 0;
}
.history{
    width: 100%;
    margin-top: 2rem;
}
.history-title img{
    width: 2rem;
    height: 2rem;
}



