.animated {animation-duration: 0.2s;}
.player{
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 1.6rem;
    color: #eee;
    padding-top: 6.4rem;
}
.pheader{
    width: 100%;
    padding: 1rem 0;
    position: fixed;
    z-index: 100;
    height: 4.4rem;
    top: 0;
    left: 0;
}
.pheader span img{
    width: 2.6rem;
    height: 2.6rem;
}
.pheader-song{
    display: inline-block;
    width: 100%;
    position: relative;
    height: 4rem;
}
.pheader-title{
    display: block;
    position: absolute;
    margin: 0 4.2rem;
    height: 2.3rem;
    left: 0;
    top: 0;
    overflow: hidden;
    color: white;
}
.pheader-singer{
    position: absolute;
    top: 2.3rem;
    left: 0;
    margin-left: 4.2rem;
    color: #fff;
}
.pheader-goback,.pheader-share{
    position: absolute;
    top: 1.5rem;
    z-index: 1;
}
.pheader-goback{
    left: 0;
    margin-left: 1rem;
}
.pheader-share{
    right: 1rem;
}
.pheader-singer{
    font-size: 1.3rem;
}

.pshow{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.pshow-top{
    width: 100%;
    height: 75%;
    z-index: 100;
    overflow: hidden;
    /* 隐藏歌词 */
}


/*播放show*/
.pshow-top-song{
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
}
.pshow-top-songimg{
    position: relative;
    width: 70%;
    height: 0;
    border: 1rem solid rgba(255,255,255,0.2);    
    padding-bottom: 70%;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 9%;
    text-align: center;
    overflow: hidden;
}
@-webkit-keyframes rotate{
        from { -webkit-transform:rotate(0deg) }
        to { -webkit-transform:rotate(360deg) }
}
.pshow-top-songimg img{
    width: 75%;
    height: auto;
    max-height: 25rem;
    margin-top: 15%;
    border-radius: 50%; 
}
.pshow-top-border{
    position: absolute;
    width: 105%;
    height: 105%;
    border-radius: 50%; 
    overflow: hidden;
    background: url('../../assets/img/playborder.png') no-repeat;
    background-position:-5px -7px;
    background-size: 102%;
    top: -0.3rem;
    left: -0.3rem;
}
.pshow-top-songtag{
    width: 92%;
    padding: 0 4%; 
    position: absolute;
    top: 80%;
    left: 0;
    text-align: center;
}
.pshow-top-songtag span{
    display: inline-block;
    width: 23%;
}
.pshow-top-songtag span img{
    width: 2.8rem;
    height: 2.8rem;
}
.commentCount{
    position: relative;
    font-size: 1rem;
    top: -2rem;
    left: -0.3rem;
}
.pshow-top-songword{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    color: #eee;
}
.songword-box{
    width: 100%;
    text-align: center;
}
.songword-box ul{
    width: 100%;
}
.songword-box ul li{
    padding: 1rem 0;
}
.play-bottom{
    width: 100%;
}
.play-bottom-progress{
    width: 94%;
    position: relative;
    padding: 1rem 3%;
}
.progress-current,.progress-total{
    position: absolute;
    top: 0;
    font-size: 1.2rem;
    width: 10%;
    text-align: center;
    height: 2.3rem;
    line-height: 2.3rem;
}
.progress-current{
    left: 1.5%;
}
.progress-total{
    right: 1.5%;
}
.progress-box{
    border-radius: 0.4rem;
    width: 80%;
    margin: 0 auto;
    height: 0.5rem;
    position: relative;
    background-color: rgba(0,0,0,.3);
}
.progress-box-go{
    width: 0;
    height: 100%;
    background-color: #f31c0c;
}
.progress-box-dot{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -1.5rem;
    left: 0;
}
.dot{
    position: relative;
    top: 0.9rem;
    left: 0;
    box-sizing: border-box;
    width: 1.6rem;
    height: 1.6rem;
    border: 0.5rem solid #f1f1f1;
    border-radius: 50%;
    background: #d44439;
}
/* 歌曲tab */
.play-bottom-tabBox{
    width: 90%;
    margin: 0 auto;
    margin-top: 1.3rem;
}
.play-bottom-tab{
    width: 100%;
    overflow: hidden;
}
.play-bottom-tab div{
    float: left;
    width: 20%;
    text-align: center;
}
.play-bottom-tab div img{
    width: 3.1rem;
    height: 3.1rem;
}
.play-bottom-tab .playing img{
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    left: 0;
    top: -0.3rem;
}


.player-mask{
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
}
.player-maskbg{
    z-index: -3;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: blur(2rem);
    -moz-filter: blur(2rem);
    -ms-filter: blur(2rem);
    -o-filter: blur(2rem);
    filter: blur(2rem);
}
.player-maskbg2{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.2);
    z-index: -2;
}